@import 'tailwindcss';

:root {
	background-color: #16171d;
	-webkit-text-fill-color: #ffffffdc;
	font-family: 'Montserrat', system-ui, sans-serif;
}

body {
	font-family: 'Montserrat', system-ui, sans-serif;
	letter-spacing: 0.02em;
}

html.custom-cursor-enabled,
html.custom-cursor-enabled * {
	cursor: none !important;
}

html.custom-cursor-enabled body {
	-webkit-user-select: none;
	user-select: none;
}

h1 {
	font-weight: 100;
}
